
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    width: 600px;
    margin: 0 auto;
    font-family: Georgia, Times, serif;
    font-size: 20px;  
    border: 3px solid black;
}

.primary-box {
    background-color: black;
    color: white;
    border-bottom: .4em solid #4d2d06;
    padding-top: 2%;
    padding-bottom: 2%;
}

div.secondary-box {
    background-color: white;
    border-bottom: .4em solid #4d2d06;
    padding-top: 2%;
    padding-bottom: 2%;
}

div.inside-box {
    background-color: cyan;
    color: black;
    font-size: 1em;
}    

h3 {
    margin-top: 1em;
}

p {
    line-height: .4em;
    padding: .5em;
}